<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="utf-8">
        <% include partials/adminHead.ejs %>

        <title>Update Lesson</title>
    </head>
    <body> 

        <div class="wrapper">
            <!-- Sidebar -->
            <% include partials/adminNav.ejs %>
                <!-- Page Content -->
                <div id="content">
                    <div class="album bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 bg-white p-4 box-shadow">
                                    <h3 class="mb-4">Update Lesson</h3>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="courseSelectCombo">Select Course</label>
                                            <select class="custom-select d-block w-100" id="courseSelectCombo" onchange="onCourseChange()">
                                                <% for(var i=0; i < course.length; i++){ %>
                                                    <option value="<%= course[i]._id %>"><%= course[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="lessonSelectCombo">Select Lesson</label>
                                            <select class="custom-select d-block w-100" id="lessonSelectCombo" onchange="getLessonDetails()">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="nameTb">Lesson Name</label>
                                            <input type="text" class="form-control" id="nameTb" placeholder="" maxlength="100" value="" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" id="description" maxlength="300" required></textarea>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="videoUpload">Upload Video</label>
                                            <form id="uploadForm" enctype="multipart/form-data" action="/video" method="post">
                                                <input type="file" class="form-control" id="videoFile" name="videoFile" accept=".mp4" required>
                                                
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="hidden" id="videoPath" />
                                            <button class="btn btn-primary btn-lg" type="button" onclick="uploadVideo();">Update Lesson</button>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

        <% include partials/adminFooter.ejs %>

          <script type="text/javascript">

                $(document).ready(function(){
                   onCourseChange();
                });

                function onCourseChange(){
                    var courseId = $('#courseSelectCombo').val();
                    
                    blockPage();

                    $.ajax({
                        type: 'POST',
                        url : '/getLessonList',
                        data: {courseId: courseId},
                        success:function(response){
                            if(response.status == true) 
                            {
                               var options = "";
                               for(var i=0; i < response.lessons.length; i++) 
                               {
                                 options += "<option value='"+response.lessons[i]._id+"' data-name='"+response.lessons[i].name+"' data-description='"+response.lessons[i].description+"' data-videoPath='"+response.lessons[i].videoPath+"'>"+response.lessons[i].name+"</option>";
                               }
                               $('#lessonSelectCombo').html(options);
                               getLessonDetails();
                            }
                            else{
                                showErrorMessage("Failed to get lesson list. Reason - " + response.message);
                            }
                            unblockPage();
                        }
                    });
                }

                function getLessonDetails(){
                    $('#nameTb').val($('#lessonSelectCombo option:selected').attr('data-name')); 
                    $('#description').val($('#lessonSelectCombo option:selected').attr('data-description')); 
                    $('#videoPath').val($('#lessonSelectCombo option:selected').attr('data-videoPath'));
                }
                
                function uploadVideo()
                {
                    if(!validateForm())
                    {
                        return false;
                    }

                    blockPage();
                   
                   if($('#videoFile').val().length != 0)
                   {
                       // some video is selected for upload, so upload first
                        $('#uploadForm').ajaxSubmit({
                            error: function(xhr) {
                                status('Error: ' + xhr.status);
                            },
                            success: function(response) {
                                console.log(response);
                                if(response.status == true) {
                                    updateLesson(response.filePath);
                                }
                                else {
                                    showErrorMessage("Failed to upload video. Reason - " + response.message);
                                    unblockPage();
                                }
                            }
                        });
                   }
                   else 
                   {
                       //no new video is selected for upload, so pass the current video path and proceed ahead
                        var currentVideoPath = $('#videoPath').val();
                        
                        if(currentVideoPath.length !=0){
                            updateLesson(currentVideoPath);
                        }
                   }

                    
                }

                function updateLesson(videoPath)
                {
                    var lessonId = $('#lessonSelectCombo').val();
                    var nameTb = encodeURIComponent($('#nameTb').val());
                    var description = encodeURIComponent($('#description').val());

                    var data = {
                        id:lessonId,
                        name:nameTb,
                        description:description,
                        videoFilePath:videoPath
                    };

                    $.ajax({
                        type: 'POST',
                        url : '/updateLesson',
                        data: data,
                        success:function(response){
                            
                            if(response.status == true) {
                                showSuccessMessage(response.message);
                            }
                            else
                            showErrorMessage("Failed to update lesson. Reason - " + response.message);

                            unblockPage();
                        }
                    });
                }

                function validateForm()
                {
                    var nameTb = $('#nameTb').val();
                    var description = $('#description').val();
                    var file = $('#videoFile').val();
                    var currentVideoPath = $('#videoPath').val();

                    if(nameTb.length == 0) {
                        showErrorMessage("Please enter name");
                        $('#nameTb').focus();
                        return false;
                    }
                    if(description.length == 0) {
                        showErrorMessage("Please enter description");
                        $('#description').focus();
                        return false;
                    }
                    if(file.length == 0 && currentVideoPath.length == 0) {
                        showErrorMessage("Please upload the video");
                        $('#videoFile').focus();
                        return false;
                    }
                    return true;
                }
          </script>

    </body>
  </html>